*.iws
*.ipr
*.iml
*.log
.DS_Store
*.swp
*.orig
*.xmt
*.jou
*.pyc
*.prefs
*~
#*#
gradle
gradlew
.git_gburd
.gradle
run-jetty-run/
license.err
test/client/test-results.xml
.idea/
node_modules/
bower_components/
/projectFilesBackup/*
logs/*
!.gitkeep
coverage/*
/ios
xcuserdata/
/buildSrc/build/
services/host.properties
erl_crash.dump
.build_config
/stage/
.tmp/
jspm_packages/
typings/
/cppGraphics/
.vscode/
.metadata/
RemoteSystemsTempFiles/
*.mo
.project
.classpath
.settings
project/eclipse/build/
.eslintcache
.buckconfig
.buckconfig.local
.okbuck
buckw
buck-out
build
out
infer-out
.buckd
.watchmanconfig
*.class
/bin/
